[submodule "ip/pulpino_qsys"]
	path = ip/pulpino_qsys
	url = https://github.com/marqs85/pulpino_qsys.git
[submodule "ip/sdc_controller/SD-card-controller"]
	path = ip/sdc_controller/SD-card-controller
	url = https://github.com/mczerski/SD-card-controller.git
[submodule "software/sys_controller/ic_drivers"]
	path = software/sys_controller/ic_drivers
	url = https://github.com/marqs85/ic_drivers.git
[submodule "rtl/ic_frontends"]
	path = rtl/ic_frontends
	url = https://github.com/marqs85/ic_frontends.git
[submodule "ip/core_usb_fs_phy"]
	path = ip/core_usb/core_usb_fs_phy
	url = https://github.com/ultraembedded/core_usb_fs_phy
[submodule "ip/core_usb_host"]
	path = ip/core_usb/core_usb_host
	url = https://github.com/ultraembedded/core_usb_host
